php/siiauwebservice.xml

<!--
Generated by the Oracle JDeveloper 10g Web Services WSDL Generator
-->
<!-- Date Created: Fri Apr 25 21:55:39 GMT 2008 -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/Logon.wsdl" xmlns:ns1="http://webservice/IWebServiceLogon.xsd" name="WebServiceLogon" targetNamespace="http://webservice/Logon.wsdl">
<message name="valida0Request">
<part name="usuario" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="key" type="xsd:string"/>
</message>
<message name="valida0Response">
<part name="return" type="xsd:string"/>
</message>
<message name="datosUsuario1Request">
<part name="codigo" type="xsd:string"/>
<part name="key" type="xsd:string"/>
</message>
<message name="datosUsuario1Response">
<part name="return" type="xsd:string"/>
</message>
<message name="esAlumnoProfesor2Request">
<part name="codigo" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="key" type="xsd:string"/>
</message>
<message name="esAlumnoProfesor2Response">
<part name="return" type="xsd:string"/>
</message>
<portType name="LogonPortType">
<operation name="valida">
<input name="valida0Request" message="tns:valida0Request"/>
<output name="valida0Response" message="tns:valida0Response"/>
</operation>
<operation name="datosUsuario">
<input name="datosUsuario1Request" message="tns:datosUsuario1Request"/>
<output name="datosUsuario1Response" message="tns:datosUsuario1Response"/>
</operation>
<operation name="esAlumnoProfesor">
<input name="esAlumnoProfesor2Request" message="tns:esAlumnoProfesor2Request"/>
<output name="esAlumnoProfesor2Response" message="tns:esAlumnoProfesor2Response"/>
</operation>
</portType>
<binding name="LogonBinding" type="tns:LogonPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="valida">
<soap:operation soapAction="" style="rpc"/>
<input name="valida0Request">
<soap:body use="encoded" namespace="WebServiceLogon" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output name="valida0Response">
<soap:body use="encoded" namespace="WebServiceLogon" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="datosUsuario">
<soap:operation soapAction="" style="rpc"/>
<input name="datosUsuario1Request">
<soap:body use="encoded" namespace="WebServiceLogon" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output name="datosUsuario1Response">
<soap:body use="encoded" namespace="WebServiceLogon" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="esAlumnoProfesor">
<soap:operation soapAction="" style="rpc"/>
<input name="esAlumnoProfesor2Request">
<soap:body use="encoded" namespace="WebServiceLogon" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output name="esAlumnoProfesor2Response">
<soap:body use="encoded" namespace="WebServiceLogon" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="WebServiceLogon">
<port name="LogonPort" binding="tns:LogonBinding">
<soap:address location="http://148.202.105.71/WebServiceLogon/WebServiceLogon"/>
</port>
</service>
</definitions>